body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color: #c0ffc1;
}
.container{
    position:relative;
}
.letter{
    position: relative;
    top:50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}
@keyframes up{

    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}
.letter:hover .card{
transform:translateY(-100px);
}
.envelope{
    position:relative;
    width: 300px;
    height: 200px;
    background-color: #e173a3;

}
.envelope:before{
    background-color: #e173a3;
    content:'';
    position:absolute;
    width: 212px;
    height: 212px;
    transform:rotate(45deg);
    top:-105px;
    left: 44px;
    border-radius:40px 0 0 0;
}
.card{
    position:absolute;
    background-color: antiquewhite;
    width:270px;
    height:170px;
    top:5px;
    left:15px;
    box-shadow:-5px -5px 100px rgba(0,0,0,0.4);
}
.card:before{
    content:"";
    position:absolute;
    border:3px solid #f55992;
    border-style:dotted;
    width:240px;
    height:140px;
    left:12px;
    top:12px;
}

.text{
    position:relative;
    font-family:'Brush Script mt',cursive;
    font-size: 14px;
    text-align:center;
    line-height:20px;
    top:15px;
    color: #7c082f;
}
.heart{
    background-color:#d62828;
    display:inline-block;
    height:30px;
    margin:0 10px;
    position:relative;
    top:40px;
    left:105px;
    transform:rotate(-45deg);
    width:30px;
}
.heart:before, .heart:after{
    content:"";
    background-color:#d62828;
    border-radius:50px;
    height: 30px;
    position:absolute;
    width:30px;
}
.heart:before{
    top:-15px;
    left:0;
}
.heart:after{
    left:15px;
    top:0;
}
.hearts{
    position:absolute;
    top:15px;
}
@keyframes heart{
    0%{
        transform:translateY(0) rotate(-45deg) scale(0.3);
        opacity:1;
    }
    100%{
        transform:translateY(-100px) rotate(-45deg) scale(1.3);
        opacity:0.5;
    }
}
.one, .two, .three, .four, .five{
    background-color:red;
    display:inline-block;
    height:10px;
    width:10px;
    margin:0 17px;
    position:relative;
    transform:rotate(-45deg);
    top:-65px;
}
.one:before, .one:after, .two:before, .two:after, .three:before, .three:after, .four:before, .four:after, .five:before, .five:after{
   content:'';
   background-color:red;
   border-radius:50%;
   width:10px;
   height:10px;
   position:absolute;

}
.one:before, .two:before, .three:before, .four:before, .five:before{
    top:-5px;
    left:0px;

}
.one:after, .two:after, .three:after, .four:after, .five:after{
   left:5px;
   top:0px; 
}
.one{
    left:17px;
    animation:heart 1s ease-out infinite;
}
.two{
    left: 20px;
    animation:heart 2s ease-out infinite
}
.three{
    left:28px;
    animation:heart 1.5s ease-out infinite;
}
.four{
    left:35px;
    animation:heart 2.3s ease-out infinite;
}
.five{
    left:45px;
    animation:heart 1.7s ease-out infinite;
}
.front{
    position:absolute;
    border-right:180px solid #f98aba;
    border-top:95px solid transparent;
    border-bottom:100px solid transparent;
    left:120px;
    top:5px;
    width:0;
    height:0;
    z-index:10;
}
.front:before{
    position:absolute;
    content:'';
    border-left:300px solid #ffb9d7;
    border-top:195px solid transparent;
    left:-120px;
    top:-95px;
    width:0;
    height:0;
}
.shadow{
    position:absolute;
    width:330px;
    height:25px;
    border-radius:50%;
    background-color:#54263a67;
    top:265px;
    left:-15px;
    z-index:-1;
    animation: scale 3s linear infinite;
}
@keyframes scale{
    0%,100%{
        transform:scaleX(1);
    }
    50%{
        transform:scaleX(0);
    }
}
